<h1 class="title is-2">Edit Complaint</h1>

<%= render 'editform', complaint: @complaint %>

<%= link_to 'Show', @complaint, class: "button is-primary" %>
<%= link_to 'Back', complaints_path, class: "button is-info" %>
