<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        NoVa Anonymous Counseling
      </h1>
      <h2 class="subtitle">
        Your private way to get Counseling!
      </h2>
    </div>
  </div>
</section>
